<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </button>    
      <span> Teste Angular</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" [routerLink]="['/contato']">
      Contato
      </button>
      <button mat-icon-button class="example-icon" [routerLink]="['/sobre']">
        Sobre
      </button>
    </mat-toolbar>
  </p>
  